Debug/
Release/
[Bb]uild/
.metadata/
.settings/
.cache/
.launches/
*.o
*.su
*.d
*.elf
*.hex
*.bin
*.map
*.tmp
*.bak
*.o.d
*.crf
*.lst
*.dep
*.axf
*.map.xml
*.map.json
*.args
*.mk
makefile.defs
makefile.init
makefile.targets
*~
*.swp
*.log
.DS_Store
Thumbs.db
